Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

DB_BD = barberia2000_db
DB_HOST = nyc.domcloud.id
DB_PASS = eRZ8_jc9(A8I7w_5sF
DB_USER = barberia2000